*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  height: 70px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
}

.container{
  width: 80%;
  margin: auto;
}

#menu {
  height: 70px;
}

/* Inizio classi per template */
.fix:after{
  content: "";
  display: table;
  clear: both;
}

.col-left {
  float: left;
  height: 100%;
}

.col-right {
  float: right;
  height: 100%;
}

.t-center{
  text-align: center;
}

.t-light{
  color: white;
}

.t-dark{
  color: black;
}
/* Fine classi per template */

.tendina{
  line-height: 70px;
  padding: 0 5px;
}

.navicon{
  height: 100%;
  margin-right: 5px;
}

.navicon > img{
  width: 15px;
  height: 100%;
}

.col-left > * {
  float: left;
}
