*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont-nav1{
width: 100vw;
height: 70px;
}

#top-nav {
  width: 100vw;
  height: 70px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
}

.container{
  width: 80%;
  margin: auto;
}

#settings {
  height: 70px;
}

/* Inizio classi generiche per template */
.fix:after{
  content: "";
  display: table;
  clear: both;
}

.col-left {
  float: left;
  height: 100%;
}

.col-right {
  float: right;
  height: 100%;
}

.t-center{
  text-align: center;
}

.t-light{
  color: white;
}

.t-dark{
  color: black;
}

.n-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.bb-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
/* Fine classi generiche per template */

.tendina{
  line-height: 70px;
  padding: 0 5px;
  cursor: pointer;
}

.tendina.menu{
  line-height: 80px;
  padding: 0 15px;
  cursor: pointer;
}

.navicon{
  height: 100%;
  margin-right: 5px;
}

.navicon > img{
  width: 15px;
  height: 100%;
}

#settings > .col-left > * {
  float: left;
}

hr{
  border: none;
  border-left: 1px solid black;
  height: 30px;
  width: 1px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-search{
  color: #409fff;
  font-size: 15px;
}
/* Inizio classi per bottoni */
.button {
  border: 1px solid #f7764f;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
}
.button.white{
  margin: 0 10px;
  background-color: white;
  color: #f7764f;
}

.button.orange{
  color: white;
  background-color: #f7764f;
}
/* Finisco classi per bottoni */

#menu{
  width: 100vw;
  height: 80px;
}

#main-menu{
  height: 80px;
}

.logo{
  width: 106px;
  height: 100%;
}

.logo > img{
  width: 100%;
  height: 100%;
}

section{
  background-color: #00a4bd;
}
